Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно выбранных спортсменов: Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170. Данная промежуточная аттестация оценивается по системе "зачет" / "не зачет". "Зачет" ставится, если Слушатель успешно выполнил задание. "Незачет" ставится, если Слушатель не выполнил задание. Критерии оценивания: 1 - Слушатель провел дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.

In [23]:
import numpy as np
import scipy.stats as stats
x1=np.array([173, 175, 180, 178, 177, 185, 183, 182])
x2=np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
x3=np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

Проверяем нормальность:

In [24]:
print(stats.shapiro(x1)) #Проверяем нормальность
print(stats.shapiro(x2))
print(stats.shapiro(x3))
print(stats.levene(x1, x2, x3)) #Проверяем гомогенность дисперсий

ShapiroResult(statistic=0.9775082468986511, pvalue=0.9495404362678528)
ShapiroResult(statistic=0.9579196572303772, pvalue=0.7763139009475708)
ShapiroResult(statistic=0.9386808276176453, pvalue=0.5051165223121643)
LeveneResult(statistic=0.0836323510368345, pvalue=0.920025568103872)

Данные распределены нормально, длина выборок отдичается незначительно, дисперсии гомогенны. Переходим к дисперсионному анализу:

In [25]:
print(stats.f_oneway(x1, x2, x3))

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

Так как pvalue<0,05 то статистические различия есть. Определим, между какими группами они присутствуют.
Используем критерий Тьюки. Сначала при помощи stats.tukey_hsd:

In [33]:

print(stats.tukey_hsd(x1, x2, x3))

Tukey's HSD Pairwise Group Comparisons (95.0% Confidence Interval)
Comparison  Statistic  p-value  Lower CI  Upper CI
 (0 - 1)      0.458     0.979    -5.357     6.273
 (0 - 2)      6.398     0.022     0.837    11.958
 (1 - 0)     -0.458     0.979    -6.273     5.357
 (1 - 2)      5.939     0.028     0.561    11.318
 (2 - 0)     -6.398     0.022   -11.958    -0.837
 (2 - 1)     -5.939     0.028   -11.318    -0.561

In [34]:
Теперь при помощи функции pairwise_tukeyhsd:

SyntaxError: invalid syntax (2736442590.py, line 1)

In [35]:
import pandas as pd
from statsmodels.stats.multicomp import pairwise_tukeyhsd
height = np.concatenate([x1, x2, x3])
sports = np.concatenate([np.full(len(x1), 'football'), 
                                np.full(len(x2), 'hockey'), 
                                np.full(len(x3), 'barbell')])
df=pd.DataFrame({'height' : height, 'sports' : sports})
df.head(10)

   height    sports
0     173  football
1     175  football
2     180  football
3     178  football
4     177  football
5     185  football
6     183  football
7     182  football
8     177    hockey
9     179    hockey

In [36]:
tukey = pairwise_tukeyhsd(df["height"], df["sports"], alpha=0.05)
print(tukey)

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
========================================================
 group1   group2  meandiff p-adj   lower   upper  reject
--------------------------------------------------------
 barbell football   6.3977 0.0219  0.8372 11.9583   True
 barbell   hockey   5.9394 0.0284  0.5607 11.3181   True
football   hockey  -0.4583  0.979 -6.2732  5.3566  False
--------------------------------------------------------

По результатам работ обеих функций мы видим статистические значимые различия по парам штангисты - футболисты и штангисты хоккеисты.